@font-face {
  font-family: 'VT323';
  src: url(/resources/fonts/VT323.woff2);
}

body {
  margin: 2px;
  font-family: 'VT323';
}

.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#game {
  display: flex;
  flex-direction: column-reverse;
  max-width: 324px;
  margin: auto;
}
canvas {
  background-color: transparent;
}

.legend {
  width: 100%;
  text-align: center;
}

li {
  font-family: 'VT323';
  font-size: 24px;
  display: inline;
  margin: 2%;
}
